.modal {
  background: rgba(188, 188, 215, 0.75);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__main {
    background-color: #e74c3c;
    width: 516px;
    border-radius: 4px;
    color: #ffffff;
    font-family: "Helvetica Neue";
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d44637;
    padding: 8px 30px 4px;
  }

  &__title {
    font-size: 22px;
    font-family: "Helvetica Neue";
  }

  &__close-button {
    background-image: url("../../cross.svg");
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  &__text {
    padding: 38px 42px 0;
    font-size: 15px;
    line-height: 30px;
  }
}
