.button__open-modal {
  min-width: 101px;
  height: 41px;
  border-radius: 4px;
  margin: 20px 5px 20px;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  font-family: "Helvetica Neue";
  text-align: center;
  cursor: pointer;
  border: none;
}
