.header__favourites img {
    width: 40px;
    height: 40px;
}

.header__favourites {
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 5px;
    color:black;
    font-size: 20px;
}