.products {

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        row-gap: 20px;
    }

    &__table {
        display: block;
        max-width: 600px;
        margin: 0 auto;
    }
}