.product {
    &__favourite-btn {
        display: inline-block;
        cursor: pointer;
        margin-bottom: 15px;
    }
    
    &__favourite-btn img {
        width: 30px;
        height: 30px;
    }
}
