.header {
    // width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    padding: 0 80px;

    &__title {
        font-family: 'Italic';
    }

    &__icons {
        width: 120px;
        display: flex;
        justify-content: space-between;
    }
}