.basketForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 250px;
    // margin: 20px 0 20px;
    margin: 20px auto;
    border: 1px solid black;
    padding: 20px;
    
    &_button {
        width: 100px;
        align-self: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.basketForm label {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.basketForm input {
    display: block;
}

.basketForm span {
    color: red;
    font-size: 12px;
}