.product {
    
    &__item {
        list-style-type: none;
        // width: 49%;
        box-shadow: 1px 3px 5px 1px black;
        font-family: 'Italic';
    }

    &__link {
        text-decoration: none;
        color: black;
        font-size: 20px;
    }

    &__info {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__item-price {
        font-size: 18px;
        font-weight: 600;
    }

    &__favourite-btn {
        display: inline-block;
        cursor: pointer;
    }

    &__favourite-btn img {
        width: 30px;
        height: 30px;
    }
}